<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asia Tours Agency</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/logo.jpg' %}" alt="Asia Tours Logo">
        <h1>Asia Tours Agency</h1>
        <nav>
            <a href="{% url 'index' %}">Home</a>
            <a href="{% url 'schedule' %}">Schedules</a>
            <a href="{% url 'admin' %}">Admin Dashboard</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>
